M4M5 for Advanced Java

For M4M5, the requirements are to...

Description: 

- Write a JavaFX GUI program that uses the MVC pattern.

Requirements:

- Create at least three classes: the view, the model, and the controller.

1. The model will...
- Be a very simplified version of your classes from M1, M2, and M3.

2. The view will...
- Allow the user to enter information required to create one or more objects. 
- Use at least one control that is different from a TextField (e.g., a radio button, check box, combo box, etc.)
- Have a button to display information about the object or collection of objects 
- Have a button to display the results of "processing" the object or collection of objects.
- Note: "processing" is defined as running one of your class-specific methods

3. The controller will...
- Create the objects (using the classes of the model) using the data entered by the user (via the view) 
- Define the methods that will respond to the button clicks and other user actions of the view 
- Display/process the objects when necessary and return the output to the view

4. Keep the functionality separated between the model, view, and control.
